---
import ImageHeader from "./contentBlocks/imageHeader.astro";
import ContentBlockCardsStat from "./contentBlocks/contentBlockCardsStat.astro";
import HorizontalCardList from "./contentBlocks/horizontalCardList.astro";
import ContentBlockInteractiveDemo from "./contentBlocks/contentBlockInteractiveDemo.astro";
import ContentBlockCardsGrid from "./contentBlocks/contentBlockCardsGrid.astro";
import ContentBlockTabbedContent from "./contentBlocks/contentBlockTabbedContent.astro";
import ContentBlockTestimonialList from "./contentBlocks/contentBlockTestimonialList.astro";
const {
  componentName,
  entryID,
  data
} = Astro.props;

---

<div>
    {componentName == "contentBlockHeaderImage" && (
        <ImageHeader
            entryID={entryID}
            {...data}
        />
    )}
    {componentName == 'contentBlockCardsStat' && (
        <ContentBlockCardsStat
            entryID={entryID}
            {...data}
        />
    )}
    {componentName == 'contentBlockHorizontalCardsList' && (
        <HorizontalCardList
            entryID={entryID}
            {...data}
        />
    )}
    {componentName == 'contentBlockInteractiveDemo' && (
        <ContentBlockInteractiveDemo
            entryID={entryID}
            {...data}
        />
    )}
    {componentName == 'contentBlockCardsGrid' && (
        <ContentBlockCardsGrid
            entryID={entryID}
            {...data}
        />
    )}
    {componentName == 'contentBlockTabbedContent' && (
        <ContentBlockTabbedContent
            entryID={entryID}
            {...data}
        />
    )}
    {componentName == 'contentBlockTestimonialList' && (
        <ContentBlockTestimonialList
            entryID={entryID}
            {...data}
        />
    )}
</div>
